// Colours

$darkblue: hsl(201, 100, 14);
$yellow: hsl(40, 91, 60);
$lightyellow: rgb(255, 248, 235);
$orange: hsl(31, 100, 48);
$lightgrey: hsl(0, 0, 70);
$darkgrey: hsl(0, 0, 14);
$black: hsl(0, 0, 8);
$white: hsl(0, 0, 100);

// Font
$font-small: 0.875rem; // 14 px
$font-med: 1.125rem; // 18 px
